---
# Optional: install a user-level systemd unit for xpra (based on xpra-example)

- name: Ensure systemd user unit directory exists
  file:
    path: "{{ user_home }}/.config/systemd/user"
    state: directory
    mode: '0755'
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
  become: yes

- name: Install xpra user service unit
  template:
    src: xpra.service.j2
    dest: "{{ user_home }}/.config/systemd/user/xpra.service"
    mode: '0644'
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
  become: yes

- name: Ensure user default.target wants directory exists
  file:
    path: "{{ user_home }}/.config/systemd/user/default.target.wants"
    state: directory
    mode: '0755'
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
  become: yes

- name: Enable xpra user service without requiring user DBus (symlink)
  file:
    src: "{{ user_home }}/.config/systemd/user/xpra.service"
    dest: "{{ user_home }}/.config/systemd/user/default.target.wants/xpra.service"
    state: link
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
  become: yes
  ignore_errors: yes


